.caja{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
}

.keyboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 464px;
    height: 152px;
    left: 35%;
    top: 60%;
}

/* Inicio Footer */
footer{
    position: absolute;
    background: url(../imagenes/footer.jpg);
    margin-top: 40.2%;
    width: 100%;
    height: 60px;
    border-top: 1px solid #ffffff;
}

/* Logo Oracle One */
.one{
    position: absolute;
    margin-left: 5%;
    margin-top: 1px;
    width: 90px;
    height: 60px;
}

/* Grupo Icons Social Network */
.iconos{
    position: absolute;
    display: inline-flex;
    margin: 24px;
    margin-left: 45%;
    color: #ffffff;
}

/* Links Social Network */
.iconos a:link{
    color: #ffffff;
    text-decoration: none;
}
.iconos a:hover{
    color: #ffffff;
    text-decoration: none;
    
}
.iconos a:visited{
    color: #ffffff;
    text-decoration: none;
}

/* Class Icons */
.fa-brands{
    padding-right: 50px;  
}

/* Text Copyright */
.copyright{
    text-align: right;
    color: #FFFFFF;
    font-size: 13px;
    margin: 24px 5%;

}
/* Fin Footer */
